<!-- Header -->
<div class="relative bg-red-600 md:pt-32 pb-32 pt-12">
  <div class="px-4 md:px-10 mx-auto w-full">
    <div>
      <!-- Card stats -->
      <div class="flex flex-wrap" *ngFor="let n of data">
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats
            statSubtitle="Temperatura"
            statTitle={{n.Temperatura}}
            statArrow={{n.at}}
            statPercent=""
            statPercentColor={{n.E1}}
            statDescripiron={{n.tempid}}
            statIconName="fas fa-thermometer-three-quarters"
            statIconColor="bg-red-500"
          ></app-card-stats>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats
            statSubtitle="Humedad"
            statTitle={{n.Humedad}}
            statArrow={{n.bh}}
            statPercent="17"
            statPercentColor={{n.E2}}
            statDescripiron={{n.humid}}
            statIconName="fas fa-percent"
            statIconColor="bg-emerald-500"
          ></app-card-stats>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats
            statSubtitle="Tiempo Offline"
            statTitle={{n.tim}}
            statArrow="up"
            statPercent="0"
            statPercentColor="text-emerald-500"
            statDescripiron="Durante el ciclo"
            statIconName="fas fa-chart-pie"
            statIconColor="bg-orange-500"
          ></app-card-stats>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats
            statSubtitle="Ciclos en error"
            statTitle={{n.timer}}
            statArrow="up"
            statPercent="0"
            statPercentColor="text-orange-500"
            statDescripiron="Ciclos de 5s"
            statIconName="fas fa-history"
            statIconColor="bg-orange-500"
          ></app-card-stats>
        </div>
      </div>
    </div>
  </div>
</div>
