<app-auth-navbar></app-auth-navbar>
<main>
  <div
    class="relative pt-16 pb-32 flex content-center items-center justify-center min-h-screen-75"
  >
    <div
      class="absolute top-0 w-full h-full bg-center bg-cover"
      style="
        background-image: url('../../../assets/img/land.jpg');
      "
    >
      <span
        id="blackOverlay"
        class="w-full h-full absolute opacity-75 bg-black"
      ></span>
    </div>
    <div class="container relative mx-auto">
      <div class="items-center flex flex-wrap">
        <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
          <div class="pr-12">
            <h1 class="text-white font-semibold text-5xl">
              Conoce ZF Sachs Painting Room
            </h1>
            <p class="mt-4 text-lg text-blueGray-200">
              Aquí te explicaremos qué y cómo opera este sistema.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px"
      style="transform: translateZ(0)"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon
          class="text-blueGray-200 fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
    </div>
  </div>

  <section class="pb-20 bg-blueGray-200 -mt-24">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap">
        <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
          >
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-400"
              >
                <i class="fas fa-award"></i>
              </div>
              <h6 class="text-xl font-semibold">Inicia sesión o regístrate</h6>
              <p class="mt-2 mb-4 text-blueGray-500">
                Es necesario autenticarte en el sitio y/o aplicación para acceder a las funciones de esta.
              </p>
            </div>
          </div>
        </div>

        <div class="w-full md:w-4/12 px-4 text-center">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
          >
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-lightBlue-400"
              >
                <i class="fas fa-retweet"></i>
              </div>
              <h6 class="text-xl font-semibold">Asegúrate de contar con una conexión a internet.</h6>
              <p class="mt-2 mb-4 text-blueGray-500">
                La aplicación móvil y el sitio web son dependientes de una conexión a internet. Debe ser estable y de al menos 1 MB/s de descarga.
              </p>
            </div>
          </div>
        </div>

        <div class="pt-6 w-full md:w-4/12 px-4 text-center">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
          >
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-emerald-400"
              >
                <i class="fas fa-fingerprint"></i>
              </div>
              <h6 class="text-xl font-semibold">Utiliza tu cuenta de ZF</h6>
              <p class="mt-2 mb-4 text-blueGray-500">
                Recuerda que las funciones solo están disponibles para miembros de ZF Sachs, no es posible autenticarte de ninguna otra manera.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-wrap items-center mt-32">
        <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
          <h3 class="text-3xl mb-2 font-semibold leading-normal">
            Comencemos por el principio
          </h3>
          <p
            class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600"
          >
            Es importante que conozcas tu entorno y como opera. El control de temperatura se da directamente desde el termostato
            que controla esta cámara de pintado.
          </p>
          <p
            class="text-lg font-light leading-relaxed mt-0 mb-4 text-blueGray-600"
          >
            La humedad es controlada con el sistema de brisa que está ubicado en los ventiladores de grado industrial en esta recámara.
            Toma nota, pues para bajar la temperatura, es necesario poner en acción el condensador que opera junto a los extractores de la recámara.
          </p>
          <a class="font-bold text-blueGray-700 mt-8">
            Comprendido esto ¡comencemos!
          </a>
        </div>

        <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-red-600"
          >
            <img
              alt="..."
              src="../../../assets/img/painting.jpg"
              class="w-full align-middle rounded-t-lg"
            />
            <blockquote class="relative p-8 mb-4">
              <svg
                preserveAspectRatio="none"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 583 95"
                class="absolute left-0 w-full block h-95-px -top-94-px"
              >
                <polygon
                  points="-30,95 583,95 583,65"
                  class="text-red-600 fill-current"
                ></polygon>
              </svg>
              <h4 class="text-xl font-bold text-white">No olvides el objetivo...</h4>
              <p class="text-md font-light mt-2 text-white">
                Recuerda que esta aplicación te ayudará a detectar, de manera temprana, los cambios
                de temperatura y humedad. Las recomendaciones que el sistema sugiere pueden ser
                erróneas para procesos de pintado de alta humedad.
              </p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="relative py-20">
    <div
      class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20"
      style="transform: translateZ(0)"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon
          class="text-white fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
    </div>

    <div class="container mx-auto px-4">
      <div class="items-center flex flex-wrap">
        <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
          <img
            alt="..."
            class="max-w-full rounded-lg shadow-lg"
            src="../../../assets/img/Login.png"
          />
        </div>
        <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
          <div class="md:pr-12">
            <h3 class="text-3xl font-semibold">Visualiza los datos y métricas</h3>
            <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
              Una vez que inicies sesión con tu cuenta de ZF, te redirigirá al Dashboard
              donde encontrarás información detallada de la temperatura a lo largo del día,
              comparación de temperatura y humedad con respecto al día anterior y otras funciones
              a las que podrás acceder con tan solo un clic. 
            </p>
            <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
            ¿Qué podrás visualizar una vez que inicies sesión?
            </p>
            <ul class="list-none mt-6">
              <li class="py-2">
                <div class="flex items-center">
                  <div>
                    <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-red-600 bg-red-200 mr-3"
                    >
                      <i class="fas fa-fingerprint"></i>
                    </span>
                  </div>
                  <div>
                    <h4 class="text-blueGray-500">
                      Vista al Dashboard con actualización a tiempo real.
                    </h4>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="flex items-center">
                  <div>
                    <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-red-600 bg-red-200 mr-3"
                    >
                    <i class="fas fa-fingerprint"></i>
                    </span>
                  </div>
                  <div>
                    <h4 class="text-blueGray-500">Apartado de sugerencias para controlar la temperatura y humedad.</h4>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="flex items-center">
                  <div>
                    <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-red-600 bg-red-200 mr-3"
                    >
                     <i class="fas fa-fingerprint"></i>
                    </span>
                  </div>
                  <div>
                    <h4 class="text-blueGray-500">Apartado de reportes de temperatura y humedad.</h4>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="pt-20 pb-48">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap justify-center text-center mb-24">
        <div class="w-full lg:w-6/12 px-4">
          <h2 class="text-4xl font-semibold">¿Escuchas un sonido de alerta y destellos de luces?</h2>
          <p class="text-lg leading-relaxed m-4 text-blueGray-500">
            ¡Cuidado! Es el sistema de alerta el que está activo.
          </p>
          <p class="text-lg leading-relaxed m-4 text-blueGray-500">
            La temperatura o humedad están alcanzando sus límites tolerables, si esto sigue así, la pintura de todo un lote de productos
            entrará a rechazo. ¡Rápido! Dirígete a la pestaña de recomendaciones y efectúa los cambios sugeridos por el sistema para 
            corregir la temperatura y/o humedad.
          </p>
          <p class="text-lg leading-relaxed m-4 text-blueGray-500">
            Te sugerimos realizar estas acciones si las alarmas se activan:
          </p>
        </div>
      </div>
      <div class="flex flex-wrap">
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <div class="pt-6 text-center">
              <h5 class="text-xl font-bold">Alerta a tu superior</h5>
              <p class="mt-1 text-sm text-blueGray-400 uppercase font-semibold">
                Paso 1
              </p>
            </div>
          </div>
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <div class="pt-6 text-center">
              <h5 class="text-xl font-bold">Efectúa los cambios sugeridos</h5>
              <p class="mt-1 text-sm text-blueGray-400 uppercase font-semibold">
                Paso 2
              </p>
            </div>
          </div>
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <div class="pt-6 text-center">
              <h5 class="text-xl font-bold">Monitorea el cambio</h5>
              <p class="mt-1 text-sm text-blueGray-400 uppercase font-semibold">
                Paso 3
              </p>
            </div>
          </div>
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <div class="pt-6 text-center">
              <h5 class="text-xl font-bold">Mantén informados a tus superiores</h5>
              <p class="mt-1 text-sm text-blueGray-400 uppercase font-semibold">
                Paso 4
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="pb-20 relative block bg-blueGray-800">
    <div
      class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20"
      style="transform: translateZ(0)"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon
          class="text-blueGray-800 fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
    </div>

    <div class="container mx-auto px-4 lg:pt-24 lg:pb-64">
      <div class="flex flex-wrap text-center justify-center">
        <div class="w-full lg:w-6/12 px-4">
          <h2 class="text-4xl font-semibold text-white">¿El sistema principal no funciona?</h2>
          <p class="text-lg leading-relaxed mt-4 mb-4 text-blueGray-400">
            Despreocúpate, si el sistema principal no funciona, entrará en juego el sistema de respaldo.
          </p>
          <p class="text-lg leading-relaxed mt-4 mb-4 text-blueGray-400">
            Asegúrate de contar con la app ZF Sachs PR y estar en un rango máximo de alcance de 10 metros
            del sistema embebido.
          </p>
        </div>
      </div>
      <div class="flex flex-wrap mt-12 justify-center">
        <div class="w-full lg:w-3/12 px-4 text-center">
          <div
            class="text-blueGray-800 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center"
          >
            <i class="fas fa-medal text-xl"></i>
          </div>
          <h6 class="text-xl mt-5 font-semibold text-white">
            Conéctate al sistema
          </h6>
          <p class="mt-2 mb-4 text-blueGray-400">
            Busca el sistema embebido dentro de la recámara, enciente tu Bluetooth y empareja
            tu dispositivo.
          </p>
        </div>
        <div class="w-full lg:w-3/12 px-4 text-center">
          <div
            class="text-blueGray-800 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center"
          >
            <i class="fas fa-lightbulb text-xl"></i>
          </div>
          <h5 class="text-xl mt-5 font-semibold text-white">Pruebas de funcionalidad</h5>
          <p class="mt-2 mb-4 text-blueGray-400">
            ¿Mucho tiempo sin utilizar el sistema de respaldo? Tranquilo, emparéjate al sistema de respaldo
            y realiza las pruebas de funcionalidad.
          </p>
        </div>
        <div class="w-full lg:w-3/12 px-4 text-center">
          <div
            class="text-blueGray-800 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center"
          >
            <i class="fas fa-poll text-xl"></i>
          </div>
          <h5 class="text-xl mt-5 font-semibold text-white">
            Información a tiempo real
          </h5>
          <p class="mt-2 mb-4 text-blueGray-400">
            Comprueba los datos de temperatura y humedad en una interfaz simple y agradable a la
            vista.
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
